/*
 * a card style with shadow
 */
.card {
    border: 1px solid;
    padding: 10px;
    border-color: #eeeeee;
    border-radius: 2px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
}
.card:hover {
    box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.3);
}
